* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #3b5999;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.word__display {
  margin-top: 3rem;
  font-size: 80px;
  color: #3b5999;
}

.word__input__box {
  margin-top: 2rem;
}

.word__input {
  padding: 0.5rem;
  width: 300px;
  border-radius: 10px;
}

.game__info {
  margin-top: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.time,
.score {
  font-size: 30px;
}

.button {
  width: 200px;
  height: 35px;
  background-color: #3b5999;
  color: #fff;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #fff;
}

.loading {
  background: #ccc;
  cursor: not-allowed;
}
